<header class="flex justify-between items-center p-4 bg-white shadow">
    <div class="flex items-center space-x-4">
        <span class="text-[#32a89d] text-2xl font-bold">Logo</span>
        <a href="#" class="text-black text-md font-medium hover:text-[#32a89d]">Home</a>
        <a href="#" class="text-black text-md font-medium hover:text-[#32a89d]">Pages</a>
        <a href="#" class="text-black text-md font-medium hover:text-[#32a89d]">Insurances</a>
        <a href="#" class="text-black text-md font-medium hover:text-[#32a89d]">Blogs</a>
        <a href="#" class="text-black text-md font-medium hover:text-[#32a89d]">Contact us</a>
    </div>
    <div class="flex items-center space-x-4">
        <button
            class="text-black bg-white hover:bg-[#32a89d] focus:outline-none font-medium rounded-md text-sm px-4 py-1">
            ☏ +(111)65 458 856
        </button>
        <button
            class="text-white bg-[#32a89d] focus:outline-none font-medium rounded-md text-lg px-4 py-1">
            Get a Quote
        </button>
    </div>

</header>